body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

.container {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-between; */
	cursor: pointer;
}

.cart {
    width: 150px; /* Fixed width for each cart */
    border: 1px solid #ccc;
    padding: 3px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 30px;
    margin-left: 50px;
	transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s; /* Smooth transition for hover effect */

}
.cart:hover {
	transform: scale(1.05); /* Increase size slightly on hover */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow effect on hover */
	background-color: #f0f0f0; /* Change background color on hover */
}
.cart img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 3px 70px 3px 3px;
}

.cart .delete-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.cart a {
	text-decoration: none;
}

.cart .text-name {
	color: black;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	margin-top: 10px;
}

.search-bar {
	position: absolute;
	top: 7em;
	right: 10px;
	display: flex;
	align-items: center;
}

.search-bar label {
	position: relative;
	right: 27cm;
	font-size: 30px;
}

.search-input {
	padding: 5px;
	margin-right: 10px;
	border: 1px solid #ccc;
}

.search-button {
	padding: 5px 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
}

@media screen and (max-width: 480px) {
	.cart {
		width: calc(50% - 20px); /* 50% width for each cart with margin */
	}
}

@media screen and (max-width: 768px) {
	.container {
		justify-content: center;
	}
}

@media screen and (max-width: 480px) {
	.cart {
		width: calc(50% - 20px); /* 50% width for each cart with margin */
	}
}