<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Notepad</title>

	<!-- Links -->
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/navFooterStyle.css}">
	<link rel="shortcut icon" th:href="@{/image/Notepad-logos.ico}" type="image/x-icon" style="border: 1px solid; border-radius: 20px;">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- javascript -->


	<script th:src="@{/tute/script.js}"></script>
	<script type="text/javascript" th:src="@{/tute/button.js}"></script>

</head>

<body>
	<!-- Navbar content -->
	<header>
		<nav class="navbar">
			<div class="logo">
				<a href="/notepad/">Notepad</a>
			</div>
			<ul class="nav-links">
				<li><a href="/notepad/">Home</a></li>
				<li>
					<form action="/notepad/shutdown" method="post">
						<button type="submit">
							<i class="fa-solid fa-power-off"></i>
						</button>
					</form>
				</li>
				<li>
					<div class="swipe-container">
						<label class="switch"> <input type="checkbox" id="mode-switch" onclick="toggleDarkMode()"> <span
								class="slider"></span>
						</label>
					</div>
				</li>
			</ul>
			<div class="menu-toggle">
				<span></span> <span></span> <span></span>
			</div>
		</nav>
	</header>
	<!-- Main Content -->
	<div class="main-content" id="main-content">
		<div class="container">
			<section class="notepad-files">
				<h2>Notepad Files</h2>
				<ul>
					<li th:each="file : ${files}">
						<div class="file-info">
							<a th:href="@{/notepad/file/{fileName}(fileName=${file.fileName})}"
								th:text="${file.fileName}"></a> <span> | </span> <a
								th:href="@{/notepad/delete/{fileName}(fileName=${file.fileName})}"><i class="fa fa-trash" aria-hidden="true"></i></a>
						</div>
					</li>
				</ul>
			</section>

			<section class="create-new-file">
				<h2>Create a New File</h2>
				<form action="/notepad/create" method="post">
					<label for="newFileName">File Name:</label> <input type="text" id="newFileName" name="newFileName"
						required> <br>
					<button type="submit" class="btn btn-1">Create</button>
				</form>
			</section>
		</div>

	</div>
    <!-- Footer -->
    <footer class="footer">
        <p>Version: <span th:text="${version}"></span> | &copy; All Rights Reserved | <span id="date"></span> | <span id="time"></span></p>
    </footer>
     <script th:inline="javascript">
    /*<![CDATA[*/
    	 document.getElementById('date').textContent = new Date().toLocaleDateString();
    function updateClock() {
    	 document.getElementById('time').textContent = new Date().toLocaleTimeString();
    }
    // Update the clock every second
    setInterval(updateClock, 1000);
    /*]]>*/
    </script>
</body>

</html>